#pagename{
    display: inline-block;
}

header{
    background-color: black;
    height: 2em;
}

header a {
    color: aliceblue;
    text-decoration: none;
}

body {
    background-color: rgb(19, 7, 71);
    color:antiquewhite;
}

nav{
    float: right;
}


section {
    margin-top: 50px;
}

li {
    margin-top: 0.5em;
}













